#piano {
    display: flex;
    position: relative;
    height: 200px;
    background: #222;
    padding: 10px;
}

.key {
    position: relative;
    border: 1px solid #000;
    cursor: pointer;
    user-select: none;
    transition: 0.1s;
}

.white {
    width: 50px;
    height: 200px;
    background: white;
    box-shadow: inset 0 -3px 5px rgba(0, 0, 0, 0.5);
}

.black {
    width: 30px;
    height: 120px;
    background: black;
    position: absolute;
    margin-left: -15px;
    z-index: 2;
    box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.7);
}

.key:active {
    transform: scale(0.95);
    filter: brightness(1.2);
}
